{%extends 'Base.html'%}
{%load static%}
{%block body%}
<nav>
    <div class="nav-wrapper blue">
        <a href="https://github.com/Lakshya-CB/WeekendBatchSept" target="_blank" class="brand-logo"><img style="margin: 10px;" class="responsive-img" width="55" src="{%static 'images/Logo2.png'%}" ></a>
      <ul id="nav-mobile" class="right">
        <li><a href="{%url 'AddData'%}">Add Questions</a></li>
        <li><a href="{%url 'Notes'%}">Add Doubts</a></li>
        <li><a href="{%url 'Questions'%}#test1">Questions</a></li>
        
        <li><a href="{%url 'Logout'%}">Logout</a></li>
      </ul>
    </div>
  </nav>



 <div class="container">
  <table>
    <col style="width:30%">
    <col style="width:30%">
    <thead>
      <tr>
          <th>S.No</th>
          <th>Doubts</th>
          <th>Solution</th>
          
      </tr>
    </thead>

    <tbody>
        {%for img in imgs%}
      <tr>
        <td>{{img.id}}</td>
        <td>{{img.Doubts}}</td>
        <td>{{img.Solution}}</td>
      </tr>
      {%endfor%}
  </table>
</div>
  
  


{%endblock%}